<navigation></navigation>


    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Details about Events by <span style="color:#00a0e3;">TheoreX</span></h1>
                            <p>TheoreX provides next level of Smart events based on Latest Technologies and innovations.</p>
                        </div>
                     </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#page-breadcrumb-->

    <section id="about-company" class="padding-top wow fadeInUp" data-wow-duration="400ms" data-wow-delay="400ms">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                <center><img src="/lib/images/workshop/TAP-Career-Workshop-Banner.jpg" style="height: 30%; width: 60%;"></center>
                    <h2>Why you should choose us for conducting events!</h2>
                    <p>TheoreX brings up the world's first Tchnology Learning Portal, where one will not only learn but also can showcase his or her expertise,<br/> he or she can connect with other professionals and also can choose the right job for himself or herself choosing the right <br/> company where he or she can suits perfectly according to his or her culture, experience, knowledge and expertise.</p>
                </div>
            </div>
        </div>
    </section>
    <!--/#about-company-->
    
<br/><br/>
    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Our Event Categories</span></h1>
                            <p>TheoreX brings you the following events</p>
                        </div>
                     </div>
                </div>
            </div>
        </div>
   </section>
   
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">

                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="/lib/images/workshop/1.png" alt="">
                        </div>
                        <h2>Offline Workshops</h2>
                        <p>Ground round tenderloin flank shank ribeye. Hamkevin meatball swine. Cow shankle beef sirloin chicken ground round.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="/lib/images/workshop/2.png" alt="">
                        </div>
                        <h2>Online Webinars</h2>
                        <p>Hamburger ribeye drumstick turkey, strip steak sausage ground round shank pastrami beef brisket pancetta venison.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <img src="/lib/images/workshop/3.png" alt="">
                        </div>
                        <h2>Hackathons</h2>
                        <p>Venison tongue, salami corned beef ball tip meatloaf bacon. Fatback pork belly bresaola tenderloin bone pork kevin shankle.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">

                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="/lib/images/workshop/4.png" alt="">
                        </div>
                        <h2>Promotional Events</h2>
                        <p>Ground round tenderloin flank shank ribeye. Hamkevin meatball swine. Cow shankle beef sirloin chicken ground round.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="/lib/images/workshop/5.png" alt="">
                        </div>
                        <h2>Tech Talks</h2>
                        <p>Hamburger ribeye drumstick turkey, strip steak sausage ground round shank pastrami beef brisket pancetta venison.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <img src="/lib/images/workshop/6.png" alt="">
                        </div>
                        <h2>Free Seminars</h2>
                        <p>Venison tongue, salami corned beef ball tip meatloaf bacon. Fatback pork belly bresaola tenderloin bone pork kevin shankle.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#services-->
    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Our Workshops</span></h1>
                            <p>We conduct workshops on...</p>
                        </div>
                     </div>
                </div>
            </div>
        </div>
   </section>
    <section>
    <div class="container">
        <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">

                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="/lib/images/workshop/7.png" alt="">
                        </div>
                        <h2>Windows Application<br>Development</h2>
                        <!-- Trigger/Open The Modal -->
                        <button id="myBtn1" class="btn" style="background: #00a0e3; color: #ffffff;">Click for more details</button>

                        <!-- The Modal -->
                        
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">

                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="/lib/images/workshop/8.png" alt="">
                        </div>
                        <h2>Cloud<br>Computing</h2>
                      <!-- Trigger/Open The Modal -->
                        <button id="myBtn2" class="btn" style="background: #00a0e3; color: #ffffff;">Click for more details</button>

                        <!-- The Modal -->
                        
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="/lib/images/workshop/9.ico" alt="">
                        </div>
                        <h2>Computer Hacking<br>Forensic Investigator</h2>
                        <!-- Trigger/Open The Modal -->
                        <button id="myBtn3" class="btn" style="background: #00a0e3; color: #ffffff;">Click for more details</button>

                        <!-- The Modal -->
                   

                            <!-- Modal content -->
                                
                        </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">

                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="/lib/images/workshop/10.png" alt="">
                        </div>
                        <h2>Internet Of<br>Things</h2>
                        <!-- Trigger/Open The Modal -->
                        <button id="myBtn1" class="btn" style="background: #00a0e3; color: #ffffff;">Click for more details</button>

                        <!-- The Modal -->
                        
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">

                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="/lib/images/workshop/11.png" alt="">
                        </div>
                        <h2>Mechine<br>Learning</h2>
                      <!-- Trigger/Open The Modal -->
                        <button id="myBtn2" class="btn" style="background: #00a0e3; color: #ffffff;">Click for more details</button>

                        <!-- The Modal -->
                        
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="/lib/images/workshop/12.png" alt="">
                        </div>
                        <h2>Microsoft Azure<br>Cloud Platform</h2>
                        <!-- Trigger/Open The Modal -->
                        <button id="myBtn3" class="btn" style="background: #00a0e3; color: #ffffff;">Click for more details</button>

                        <!-- The Modal -->
                   

                            <!-- Modal content -->
                                
                        </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">

                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="/lib/images/workshop/13.png" alt="">
                        </div>
                        <h2>Python<br>Development</h2>
                        <!-- Trigger/Open The Modal -->
                        <button id="myBtn1" class="btn" style="background: #00a0e3; color: #ffffff;">Click for more details</button>

                        <!-- The Modal -->
                        
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">

                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="/lib/images/workshop/14.png" alt="">
                        </div>
                        <h2>Ethical<br>Hacking</h2>
                      <!-- Trigger/Open The Modal -->
                        <button id="myBtn2" class="btn" style="background: #00a0e3; color: #ffffff;">Click for more details</button>

                        <!-- The Modal -->
                        
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="/lib/images/workshop/15.png" alt="">
                        </div>
                        <h2>Hacking<br>Essentials</h2>
                        <!-- Trigger/Open The Modal -->
                        <button id="myBtn3" class="btn" style="background: #00a0e3; color: #ffffff;">Click for more details</button>

                        <!-- The Modal -->
                   

                            <!-- Modal content -->
                                
                        </div>
                </div>
            </div>
        </div>
    </section>

    <section id="action">
        <div class="vertical-center">
             <div class="container">
                <div class="row">
                    <div class="action count">
                        <div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <h1 class="timer bold" data-to="500" data-speed="3000" data-from="0"></h1>   
                            <h3>Workshops</h3>
                        </div>
                        <div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <h1 class="timer bold" data-to="100" data-speed="3000" data-from="0"></h1>   
                            <h3>Hackathons</h3> 
                        </div>
                        <div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <h1 class="timer bold" data-to="400" data-speed="3000" data-from="0"></h1> 
                            <h3>Seminars</h3>
                        </div>
                        <div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <h1 class="timer bold" data-to="200" data-speed="3000" data-from="0"></h1> 
                            <h3>Webinars</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#action-->


 
    

    <section id="team">
        <div class="container">
            <div class="row">
                <h1 class="title text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms">Our Workshop Coordinator</h1>
                <p class="text-center wow fadeInDown" data-wow-duration="400ms" data-wow-delay="400ms">Workshops/Events can never be successful without this awesome team! Take a bow team.<br>
                Meet them, they are always ready to help you!</p>
                <div id="team-carousel" class="carousel slide wow fadeIn" data-ride="carousel" data-wow-duration="400ms" data-wow-delay="400ms">
                    <!-- Indicators -->
                    <ol class="carousel-indicators visible-xs">
                        <li data-target="#team-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#team-carousel" data-slide-to="1"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-3 col-xs-6">
                                <div class="team-single-wrapper">
                                    <div class="team-single">
                                        <div class="person-thumb">
                                            <img src="/lib/images/aboutus/3.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="social-profile">
                                            <ul class="nav nav-pills">
                                                <li><a href="https://www.facebook.com/gaurab.patra"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="https://www.linkedin.com/in/gaurab-patra-41597960/"><i class="fa fa-linkedin"></i></a></li>
                                                <!--<li><a href="#"><i class="fa fa-google-plus"></i></a></li>-->
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="person-info"><center>
                                        <h2>Gaurab Patra</h2>
                                        <p>Co-Founder & Chief Technical Officer</p></center>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="team-single-wrapper">
                                    <div class="team-single">
                                        <div class="person-thumb">
                                            <img src="/lib/images/aboutus/3.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="social-profile">
                                            <ul class="nav nav-pills">
                                                <li><a href="https://www.facebook.com/gaurab.patra"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="https://www.linkedin.com/in/gaurab-patra-41597960/"><i class="fa fa-linkedin"></i></a></li>
                                                <!--<li><a href="#"><i class="fa fa-google-plus"></i></a></li>-->
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="person-info"><center>
                                        <h2>Gaurab Patra</h2>
                                        <p>Co-Founder & Chief Technical Officer</p></center>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="team-single-wrapper">
                                    <div class="team-single">
                                        <div class="person-thumb">
                                            <img src="/lib/images/aboutus/9.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="social-profile">
                                            <ul class="nav nav-pills">
                                                <li><a href="https://www.facebook.com/joy.ghosh.330"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="https://www.linkedin.com/in/joy-ghosh-4ba973119/"><i class="fa fa-linkedin"></i></a></li>
                                                <!--<li><a href="#"><i class="fa fa-google-plus"></i></a></li>-->
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="person-info"><center>
                                        <h2>Joyvishek Ghosh</h2>
                                        <p>Web Developer</p></center>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="team-single-wrapper">
                                    <div class="team-single">
                                        <div class="person-thumb">
                                            <img src="/lib/images/aboutus/9.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="social-profile">
                                            <ul class="nav nav-pills">
                                                <li><a href="https://www.facebook.com/joy.ghosh.330"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="https://www.linkedin.com/in/joy-ghosh-4ba973119/"><i class="fa fa-linkedin"></i></a></li>
                                                <!--<li><a href="#"><i class="fa fa-google-plus"></i></a></li>-->
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="person-info"><center>
                                        <h2>Joyvishek Ghosh</h2>
                                        <p>Web Developer</p></center>
                                    </div>
                                </div>
                            </div>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#team-->

<section id="action" class="responsive">
        <div class="vertical-center">
             <div class="container">
                <div class="row">
                    <div class="action take-tour">
                        <div class="col-sm-7 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                            <h1 class="title">Hey There, Request a Event Today!</h1>
                        </div>
                        <div class="col-sm-5 text-center wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                            <div class="tour-button">
                                <a href="#" class="btn btn-common">Request Now</a>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


<section id="form1">
      <center><h1>Request For Events</h1></center>

<form ng-submit="workshopreq_apply()" name="workshopreqForm">
        
    <div class="contentform">
        <div id="sendmessage"> Your message has been sent successfully. Thank you. </div>


        <div class="leftcontact">
             <div class="form-group">
            <p>Name <span>*</span></p>
            <span class="icon-case"><i class="fa fa-user"></i></span>
                <input type="text" name="firstname" id="firstname" placeholder="Your First Name" ng-model="vm.workshopreqdata.firstname" class="form-control" required="required"/>
		<div class="col-xs-5 messageContainer" ng-show="workshopreqForm.firstname.$invalid && workshopreqForm.firstname.$dirty">This field is required</div>
            </div>
                  <div class="form-group">
                    <p>Surname<span>*</span></p>
                    <span class="icon-case"><i class="fa fa-male"></i></span>
                        <input type="text" name="lastname" id="lastname" placeholder="Your Last Name" data-rule="required" data-msg="" ng-model="vm.workshopreqdata.lastname"  class="form-control" required="required"/>
		<div class="col-xs-5 messageContainer" ng-show="workshopreqForm.lastname.$invalid && workshopreqForm.lastname.$dirty">This field is required</div>
       </div> 

            <div class="form-group">
            <p>E-mail <span>*</span></p>    
            <span class="icon-case"><i class="fa fa-envelope-o"></i></span>
                <input type="email" name="email" id="email" placeholder="Your E-Mail Id" data-rule="email" data-msg="" ng-model="vm.workshopreqdata.email" ng-model="vm.workshopreqdata.email" class="form-control" required="required"/>
		<div class="col-xs-5 messageContainer" ng-show="workshopreqForm.email.$invalid && workshopreqForm.email.$dirty">This field is required</div>
            </div>  

            <div class="form-group">
            <p>Company/workshopreq/University<span>*</span></p>
            <span class="icon-case"><i class="fa fa-home"></i></span>
                <input type="text" name="workshopreq" id="workshopreq" placeholder="Your workshopreq Name" data-rule="required" data-msg="" ng-model="vm.workshopreqdata.workshopreq"  class="form-control" required="required"/>
		<div class="col-xs-5 messageContainer" ng-show="workshopreqForm.workshopreq.$invalid && workshopreqForm.workshopreq.$dirty">This field is required</div>
            </div>

            <div class="form-group">
            <p>Company/workshopreq/University Address <span>*</span></p>
            <span class="icon-case"><i class="fa fa-location-arrow"></i></span>
                <input type="text" name="workshopreqAddress" id="workshopreqAddress" placeholder="Your workshopreq Address" data-rule="required" data-msg="" ng-model="vm.workshopreqdata.workshopreqAddress"  class="form-control" required="required"/>
		<div class="col-xs-5 messageContainer" ng-show="workshopreqForm.workshopreqAddress.$invalid && workshopreqForm.workshopreqAddress.$dirty">This field is required</div>
            </div>

            <div class="form-group">
            <p>Postal Code <span>*</span></p>
            <span class="icon-case"><i class="fa fa-map-marker"></i></span>
                <input type="text" name="workshopreqPostalCode" id="workshopreqPostalCode" placeholder="Your workshopreq Postal Code" data-rule="required" data-msg="" ng-model="vm.workshopreqdata.workshopreqPostalCode"  class="form-control" required="required"/>
		<div class="col-xs-5 messageContainer" ng-show="workshopreqForm.workshopreqPostalCode.$invalid && workshopreqForm.workshopreqPostalCode.$dirty">This field is required</div>
            </div> 
    </div>

    <div class="rightcontact">  

            <div class="form-group">
            <p>City <span>*</span></p>
            <span class="icon-case"><i class="fa fa-building-o"></i></span>
                <input type="text" name="workshopreqCity" id="workshopreqCity" placeholder="Your workshopreq City" data-rule="required" data-msg="" ng-model="vm.workshopreqdata.workshopreqCity"  class="form-control" required="required"/>
		<div class="col-xs-5 messageContainer" ng-show="workshopreqForm.workshopreqCity.$invalid && workshopreqForm.workshopreqCity.$dirty">This field is required</div>
            </div>  

            <div class="form-group">
            <p>Phone number <span>*</span></p>  
            <span class="icon-case"><i class="fa fa-phone"></i></span>
                <input type="number" name="phone" id="phone" placeholder="Your Phone Number" ng-maxlength="10" data-msg="" ng-model="vm.workshopreqdata.phone"  class="form-control" required="required"/>
		<div class="col-xs-5 messageContainer" ng-show="workshopreqForm.phone.$invalid && workshopreqForm.phone.$dirty">This field is invalid</div>
            </div>

            <div class="form-group">
            <p>Number of Participants <span>*</span></p>
            <span class="icon-case"><i class="fa fa-info"></i></span>
                <input type="text" name="capacity" id="capacity" placeholder="Number Of Participants" ng-maxlength="10" data-msg="" ng-model="vm.workshopreqdata.capacity"  class="form-control" required="required"/>
		<div class="col-xs-5 messageContainer" ng-show="workshopreqForm.capacity.$invalid && workshopreqForm.capacity.$dirty">This field is invalid</div>
            </div>

            <div class="form-group">
            <p>Subject <span>*</span></p>   
            <span class="icon-case"><i class="fa fa-comment-o"></i></span>
                <input type="text" name="subject" id="subject" placeholder="Subject Of Your Message" ng-maxlength="10" data-msg="" ng-model="vm.workshopreqdata.subject"  class="form-control" required="required"/>
		<div class="col-xs-5 messageContainer" ng-show="workshopreqForm.subject.$invalid && workshopreqForm.subject.$dirty">This field is invalid</div>
            </div>
        
            <div class="form-group">
            <p>Message <span>*</span></p>
            <span class="icon-case"><i class="fa fa-comments-o"></i></span>
                <textarea name="message" rows="14" placeholder="Send the details about what type of event you are expecting from TheoreX (Workshop/Hackathon/Tech Talks)" data-msg="Please fill in this entry to complete the submission procedure." ng-model="vm.workshopreqdata.message"  class="form-control" required="required"></textarea>
		<div class="col-xs-5 messageContainer" ng-show="workshopreqForm.message.$invalid && workshopreqForm.message.$dirty">This field is required</div>

            </div>  
    </div>
    </div><br/>

        <div id="myModal1" class="smodal">
                            <div class="smodal-content">
                                <span class="sclose">X</span>
                                <div class="row">
                                    <div class="col-sm-3" data-wow-duration="500ms" data-wow-delay="300ms" style="background: #8C0BAB; height: 100%;">
                                        <img src="/lib/images/workshop/c-pop.png" style="position: absolute; left: -10%; top: -10%; height: 35%;">
                                        <br><br><br><br><br>
                                        <h2 style="color: #fff;">Programming Paradigm and Knowledge on ANSI C</h2>
                                        <h4 style="color: #fff;">Why C? - C is a powerful general-purpose programming language. It is fast, portable and available in all platforms. C is the Godfather of every programming language exists in this earth!</h4><br>
                                        <h3 style="color: #fff;">*Price – 300/- per student per month</h3>
                                        <img src="lib/images/workshop/price-tag02.png" style="position: absolute; left: -15%; buttom: -1%; height: 25%;">
                                    </div>
                                 <div class="row">   
                                    <div class="col-sm-4" data-wow-duration="500ms" data-wow-delay="300ms">
                                        <h2><b>TOPICS IN C –</b></h2>
                                        <h3>INTRODUCTION</h3>
                                        <p>Keywords & Identifier, Variables & Constants, C Data Types, C Input/Output, C Operators, Basic Examples</p>
                                        <h3>FLOW CONTROL</h3>
                                        <p>if...else Statement, C for Loop, C while Loop, break and continue, switch Statement, Decision Examples</p>
                                        <h3>FUNCTIONS</h3>
                                        <p>Functions Introduction, User-defined Function, Function Types, Recursion in C, Variable Scope, Function Examples</p>
                                        <h3>ARRAYS</h3>
                                        <p>C Arrays Introduction, Multidimensional Array, Arrays & Functions, Strings in C, String Functions, Array Examples</p> 
                                    </div>
                                    <div class="col-sm-4" data-wow-duration="500ms" data-wow-delay="300ms">
                                    <br><br>
                                    <h3>C POINTERS</h3>
                                        <P>C Pointers, Pointers & Arrays, Pointers & Functions, Memory Management, Pointer Examples</P>
                                        <h3>STRUCTURE & FILE</h3>
                                        <p>C Structure, Structure & Pointers, Structure & Functions, C Unions, Structure Examples, Files Handling</p>
                                        <h3>ADDITIONAL RESOURCES</h3>
                                        <p>C Examples, C Library Function</p>
                                    </div><!--col-->
                                  </div><!--row-->  
                                </div><!--row-->    
                            </div><!--model-content-->
        </div><!--model1-->

<button type="submit" class="bouton-contact">Send Your Request</button> 

        			<div class="alert alert-danger fade in" style="display:none;"  id="workshopreq_error_div">
				  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				  Already Registered
				</div>   
				<div class="alert alert-success fade in" style="display:none;" id="workshopreq_success_div">
				  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				  Thanks For Registering
				</div>  
</form>

</form>
</section>


<footer></footer>
	<script ng-init='myVariable = true' ng-if='myVariable' type="text/javascript" src="/lib/js/wow.min.js"></script>
    <script type="text/javascript" src="/lib/js/main.js"></script> 
