<navigation></navigation>

    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title"><span style="color:#00a0e3">TheoreX</span> for Companies, Organizations, Universities & Colleges</h1>
                            <p>We provide various tie up opportunities with different colleges, universities, organizations and companies. We are at your services only.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#page-breadcrumb-->

    <section id="company-information" class="choose">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0ms">
                    <img src="/lib/images/services/4.png" class="img-responsive" alt="">
                </div>
                <div class="col-sm-6 padding-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0ms">
                    <h2>Why You Should Choose TheoreX?</h2>
                    <!--<p>Nisi commodo bresaola, leberkas venison eiusmod bacon occaecat labore<br /> tail corned beef Capicola nisi flank sed.</p>-->
                    <ul class="elements">
                        <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i class="fa fa-angle-right"></i> We at TheoreX aim to empower students and enhance their transparency and involvement with their theory subjects with the help of latest technologies.</li>
                        <li class="wow fadeInUp" data-wow-duration="800ms" data-wow-delay="200ms"><i class="fa fa-angle-right"></i> TheoreX believes in the process of natural learning which involves, Execution-Experience-Result.</li>
                        <li class="wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms"><i class="fa fa-angle-right"></i> TheoreX can be the constant career guide for the budding talents of this generation.</li>
                        <li class="wow fadeInUp" data-wow-duration="600ms" data-wow-delay="400ms"><i class="fa fa-angle-right"></i> TheoreX exposes the student populace to revolutionary products and concepts </li>
                        <li class="wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms"><i class="fa fa-angle-right"></i> Student group initiatives by TheoreX should enable students to acclimatize with the ambience of team work.</li>
                        <li class="wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms"><i class="fa fa-angle-right"></i> Corporate connects facilitated by TheoreX, allows the students to gauge the actual corporate scenario via. internships and trainings.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--/#company-information-->

    <section id="services">
        <div class="container"><br/><br/><br/><br/><br/>
            <center><h1 class="title">The Services We Will be Providing You</h1></center><br/>
            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="/lib/images/services/5.png" alt="">
                        </div>
                        <h2>Technical Tie Ups</h2>
                        <p>TheoreX encourages student vision and enterprise, thus alowing association with various tech clubs and tech organizations reated or unrealated to institutions.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="/lib/images/services/6.png" alt="">
                        </div>
                        <h2>Sponsor Technical Events</h2>
                        <p>TheoreX aims to be a hub for technical events consequentially empowering its pupils in technical fields.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <img src="/lib/images/services/7.png" alt="">
                        </div>
                        <h2>Vocational Training</h2>
                        <p>TheoreX invites technical minds with no instution bar, to come and involve in its vocational curriculums.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="/lib/images/services/1.png" alt="">
                        </div>
                        <h2>Corporate Training</h2>
                        <p>Internships allow students to bridge the gap between academia and the corporate. TheoreX looks forward to establish the same in a convenient platform.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="/lib/images/services/2.png" alt="">
                        </div>
                        <h2>Student Group Learning Facilities</h2>
                        <p>Modern professionalism thrives on team-work. TheoreX aims to inculcate the art of working in a group in its students.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <img src="/lib/images/services/3.png" alt="">
                        </div>
                        <h2>Online Learning portal</h2>
                        <p>The concept of bagless education as proposed by TheoreX is initiated with the e-learing portal.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="/lib/images/services/8.png" alt="">
                        </div>
                        <h2>Web Interaction</h2>
                        <p>Seminars and webinars, due to their interactive nature, tend to be more impactful on the learning minds than mere lectures. TheoreX allows, appreciates and skillfuly implements this idea. </p>
                    </div>
                </div>
                <!--<div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="/lib/images/services/9.png" alt="">
                        </div>
                        <h2>Internship Opportunities</h2>
                        <p>Hamburger ribeye drumstick turkey, strip steak sausage ground round shank pastrami beef brisket pancetta venison.</p>
                    </div>
                </div>-->
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <img src="/lib/images/services/10.png" alt="">
                        </div>
                        <h2>Certification</h2>          
                        <p>TheoreX promises certification to each of its students for ther corresponding techno-academic ventures</p>
                    </div>
                </div>



            </div>
        </div>
    </section>
    <!--/#services-->

    <section id="action" class="responsive">
        <div class="vertical-center">
             <div class="container">
                <div class="row">
                    <div class="action take-tour">
                        <div class="col-sm-7 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                            <h1 class="title">Hey There, Request a Demo Today!</h1>
                        </div>
                        <div class="col-sm-5 text-center wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                            <div class="tour-button">
                                <a href="#form" class="btn btn-common">Request Now</a>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#action-->

    <section id="recent-projects" class="recent-projects">
        <div class="container">
            <div class="row">
                <h1 class="title text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms">Recent Tie Ups</h1>
                <p class="text-center padding-bottom wow fadeInDown" data-wow-duration="400ms" data-wow-delay="400ms">We have recently tied up with this universities and organizations.<br/>Do you want to be a part of us, then request a demo today!
                <div class="col-sm-3 col-xs-6 wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="portfolio-wrapper">   
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <a href="https://diensten.github.io/"><img src="/lib/images/portfolio/1.png" class="img-responsive" alt=""></a>
                            </div>
                        </div>
                        <div class="portfolio-info">
                            <center><h2>Diensten Consultancy Limited</h2></center>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6 wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">
                    <div class="portfolio-wrapper">   
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <a href="http://www.robotjam.in/"><img src="/lib/images/portfolio/2.png" class="img-responsive" alt=""></a>
                            </div>
                        </div>
                        <div class="portfolio-info">
                            <center><h2>Robot Jam India</h2></center>
                        </div>
                    </div>
                </div>
                <!--<div class="col-sm-3 col-xs-6 wow fadeIn" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <div class="portfolio-wrapper">   
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="/lib/images/portfolio/3.jpg" class="img-responsive" alt="">
                            </div>
                        </div>
                        <div class="portfolio-info">
                            <center><h2>Company Name</h2></center>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6 wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="portfolio-wrapper">   
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="/lib/images/portfolio/4.jpg" class="img-responsive" alt="">
                            </div>
                        </div>
                        <div class="portfolio-info">
                            <center><h2>Company Name</h2></center>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6 wow fadeIn" data-wow-duration="1000ms" data-wow-delay="700ms">
                    <div class="portfolio-wrapper">   
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="/lib/images/portfolio/5.jpg" class="img-responsive" alt="">
                            </div>
                        </div>
                        <div class="portfolio-info">
                            <center><h2>Company Name</h2></center>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6 wow fadeIn" data-wow-duration="1000ms" data-wow-delay="800ms">
                    <div class="portfolio-wrapper">   
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="/lib/images/portfolio/6.jpg" class="img-responsive" alt="">
                            </div>
                        </div>
                        <div class="portfolio-info">
                            <center><h2>Company Name</h2></center>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6 wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="portfolio-wrapper">   
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="/lib/images/portfolio/7.jpg" class="img-responsive" alt="">
                            </div>
                        </div>
                        <div class="portfolio-info">
                            <center><h2>Company Name</h2></center>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6 wow fadeIn" data-wow-duration="1000ms" data-wow-delay="1000ms">
                    <div class="portfolio-wrapper">   
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="/lib/images/portfolio/8.jpg" class="img-responsive" alt="">
                            </div>
                        </div>
                        <div class="portfolio-info">
                            <center><h2>Company Name</h2></center>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </section>
    <!--/#recent-projects-->


<section id="form">
      <center><h1>Request Demo Form</h1></center>

<form ng-submit="organizations_apply()" name="organizationForm">
        
    <div class="contentform">
        <div id="sendmessage"> Your message has been sent successfully. Thank you. </div>


        <div class="leftcontact">
            <div class="form-group">
            <p>Name <span>*</span></p>
            <span class="icon-case"><i class="fa fa-user"></i></span>
                <input type="text" name="firstname" id="firstname" placeholder="Your First Name" ng-model="vm.organizationdata.firstname" class="form-control" required="required"/>
		<div class="col-xs-5 messageContainer" ng-show="organizationForm.firstname.$invalid && organizationForm.firstname.$dirty">This field is required</div>
            </div>
                  <div class="form-group">
                    <p>Surname<span>*</span></p>
                    <span class="icon-case"><i class="fa fa-male"></i></span>
                        <input type="text" name="lastname" id="lastname" placeholder="Your Last Name" data-rule="required" data-msg="" ng-model="vm.organizationdata.lastname"  class="form-control" required="required"/>
		<div class="col-xs-5 messageContainer" ng-show="organizationForm.lastname.$invalid && organizationForm.lastname.$dirty">This field is required</div>
       </div> 

            <div class="form-group">
            <p>E-mail <span>*</span></p>    
            <span class="icon-case"><i class="fa fa-envelope-o"></i></span>
                <input type="email" name="email" id="email" placeholder="id@example.com" data-rule="email" data-msg="" ng-model="vm.organizationdata.email" ng-model="vm.organizationdata.email" class="form-control" required="required"/>
		<div class="col-xs-5 messageContainer" ng-show="organizationForm.email.$invalid && organizationForm.email.$dirty">This field is required</div>
            </div>  

            <div class="form-group">
            <p>Company/Organization/University<span>*</span></p>
            <span class="icon-case"><i class="fa fa-home"></i></span>
                <input type="text" name="organization" id="organization" placeholder="Name of Your Organization " data-rule="required" data-msg="" ng-model="vm.organizationdata.organization"  class="form-control" required="required"/>
		<div class="col-xs-5 messageContainer" ng-show="organizationForm.organization.$invalid && organizationForm.organization.$dirty">This field is required</div>
            </div>

            <div class="form-group">
            <p>Company/Organization/University Address <span>*</span></p>
            <span class="icon-case"><i class="fa fa-location-arrow"></i></span>
                <input type="text" name="organizationAddress" id="organizationAddress" placeholder="Address" data-rule="required" data-msg="" ng-model="vm.organizationdata.organizationAddress"  class="form-control" required="required"/>
		<div class="col-xs-5 messageContainer" ng-show="organizationForm.organizationAddress.$invalid && organizationForm.organizationAddress.$dirty">This field is required</div>
            </div>

            <div class="form-group">
            <p>Postal Code <span>*</span></p>
            <span class="icon-case"><i class="fa fa-map-marker"></i></span>
                <input type="text" name="organizationPostalCode" id="organizationPostalCode" placeholder="Your Organization Postal Code" data-rule="required" data-msg="" ng-model="vm.organizationdata.organizationPostalCode"  class="form-control" required="required"/>
		<div class="col-xs-5 messageContainer" ng-show="organizationForm.organizationPostalCode.$invalid && organizationForm.organizationPostalCode.$dirty">This field is required</div>
            </div> 
    </div>

    <div class="rightcontact">  

            <div class="form-group">
            <p>City <span>*</span></p>
            <span class="icon-case"><i class="fa fa-building-o"></i></span>
                <input type="text" name="organizationCity" id="organizationCity" placeholder="Your Organization City" data-rule="required" data-msg="" ng-model="vm.organizationdata.organizationCity"  class="form-control" required="required"/>
		<div class="col-xs-5 messageContainer" ng-show="organizationForm.organizationCity.$invalid && organizationForm.organizationCity.$dirty">This field is required</div>
            </div>  

            <div class="form-group">
            <p>Phone number <span>*</span></p>  
            <span class="icon-case"><i class="fa fa-phone"></i></span>
                <input type="number" name="phone" id="phone" placeholder="+91" ng-maxlength="10" data-msg="" ng-model="vm.organizationdata.phone"  class="form-control" required="required"/>
		<div class="col-xs-5 messageContainer" ng-show="organizationForm.phone.$invalid && organizationForm.phone.$dirty">This field is invalid</div>
            </div>

            <div class="form-group">
            <p>Number of Students/Employees <span>*</span></p>
            <span class="icon-case"><i class="fa fa-info"></i></span>
                <input type="number" name="capacity" id="capacity" placeholder="Total strength of organization" ng-maxlength="10" data-msg="" ng-model="vm.organizationdata.capacity"  class="form-control" required="required"/>
		<div class="col-xs-5 messageContainer" ng-show="organizationForm.capacity.$invalid && organizationForm.capacity.$dirty">This field is invalid</div>
            </div>

            <div class="form-group">
            <p>Subject <span>*</span></p>   
            <span class="icon-case"><i class="fa fa-comment-o"></i></span>
                <input type="text" name="subject" id="subject" placeholder="A brief of the problem you are facing." ng-maxlength="10" data-msg="" ng-model="vm.organizationdata.subject"  class="form-control" required="required"/>
		<div class="col-xs-5 messageContainer" ng-show="organizationForm.subject.$invalid && organizationForm.subject.$dirty">This field is invalid</div>
            </div>
        
            <div class="form-group">
            <p>Message <span>*</span></p>
            <span class="icon-case"><i class="fa fa-comments-o"></i></span>
                <textarea name="message" rows="14" placeholder="Let us know how we can be of help." data-msg="Please fill in this entry to complete the submission procedure." ng-model="vm.organizationdata.message"  class="form-control" required="required"></textarea>
		<div class="col-xs-5 messageContainer" ng-show="organizationForm.message.$invalid && organizationForm.message.$dirty">This field is required</div>

            </div>  
    </div>
    </div><br/>
 


<button type="submit" class="bouton-contact">Send Your Request</button> 

        			<div class="alert alert-danger fade in" style="display:none;"  id="organization_error_div">
				  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				  Already Registered
				</div>   
				<div class="alert alert-success fade in" style="display:none;" id="organization_success_div">
				  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				  Thanks For Registering
				</div>  
</form>
</section>



    <!--<section id="clients">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="clients text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                        <p><img src="/lib/images/home/clients.png" class="img-responsive" alt=""></p>
                        <h1 class="title">Happy Colleges</h1>
                        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br> Ut enim ad minim veniam, quis nostrud </p>
                    </div>
                    <div class="clients-logo wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="/lib/images/home/client1.png" class="img-responsive" alt=""></a>
                        </div>
                        <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="/lib/images/home/client2.png" class="img-responsive" alt=""></a>
                        </div>
                         <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="/lib/images/home/client3.png" class="img-responsive" alt=""></a>
                        </div>
                         <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="/lib/images/home/client4.png" class="img-responsive" alt=""></a>
                        </div>
                         <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="/lib/images/home/client5.png" class="img-responsive" alt=""></a>
                        </div>
                         <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="/lib/images/home/client6.png" class="img-responsive" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </section>-->
    <!--/#clients-->
<br/><br/>

    <section id="clients">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="clients text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                        <p><img src="/lib/images/home/clients.png" class="img-responsive" alt=""></p>
                        <h1 class="title">Happy Companies</h1>
                        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br> Ut enim ad minim veniam, quis nostrud </p>
                    </div>
                    <div class="clients-logo wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="col-xs-3 col-sm-2">
                            <a href="https://diensten.github.io/"><img src="/lib/images/home/client1.png" class="img-responsive" alt=""></a>
                        </div>
                        <div class="col-xs-3 col-sm-2">
                            <a href="http://www.robotjam.in/"><img src="/lib/images/home/client2.png" class="img-responsive" alt=""></a>
                        </div>
                         <!--<div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="/lib/images/home/client3.jpg" class="img-responsive" alt=""></a>
                        </div>
                         <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="/lib/images/home/client4.jpg" class="img-responsive" alt=""></a>
                        </div>
                         <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="/lib/images/home/client5.png" class="img-responsive" alt=""></a>
                        </div>
                         <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="/lib/images/home/client6.png" class="img-responsive" alt=""></a>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
     </section>

<br/><br/>

         <!--<section id="clients">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="clients text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                        <p><img src="/lib/images/home/clients.png" class="img-responsive" alt=""></p>
                        <h1 class="title">Happy Organizations</h1>
                        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br> Ut enim ad minim veniam, quis nostrud </p>
                    </div>
                    <div class="clients-logo wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="/lib/images/home/client1.png" class="img-responsive" alt=""></a>
                        </div>
                        <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="/lib/images/home/client2.png" class="img-responsive" alt=""></a>
                        </div>
                         <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="/lib/images/home/client3.png" class="img-responsive" alt=""></a>
                        </div>
                         <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="/lib/images/home/client4.png" class="img-responsive" alt=""></a>
                        </div>
                         <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="/lib/images/home/client5.png" class="img-responsive" alt=""></a>
                        </div>
                         <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="/lib/images/home/client6.png" class="img-responsive" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </section>-->

<footer></footer>
	<script ng-init='myVariable = true' ng-if='myVariable' type="text/javascript" src="/lib/js/wow.min.js"></script>
    <script type="text/javascript" src="/lib/js/main.js"></script> 
