<navigation></navigation>

    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Why <span style="color:#00a0e3;">TheoreX</span> Pilot Program</h1>
                            <p>The Next Era of E-Learning! Learn, Share & Execute.</p>
                        </div>
                     </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#page-breadcrumb-->

    <section id="about-company" class="padding-top wow fadeInUp" data-wow-duration="400ms" data-wow-delay="400ms">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
		    <img src="/lib/images/aboutus/pilotgfx.png" class="margin-bottom" alt="" height="220" width="500">
                    <h2>Why You Should Join the TheoreX Pilot Program?</h2>
                    <p>TheoreX brings up the world's first E-Learning Portal, where one will not only learn but also can showcase his or her expertise,<br/> he or she can connect with other professionals and also can choose the right job for himself or herself choosing the right <br/> company where he or she can suit perfectly according to his or her culture, experience, knowledge and expertise.</p>
                </div>
            </div>
        </div>
    </section>
    <!--/#about-company-->
    
<br/><br/>
    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Responsibilities</span></h1>
                            <!--<p>TheoreX brings blah blah blah</p>-->
                        </div>
                     </div>
                </div>
            </div>
        </div>
   </section>
   
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">

                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="/lib/images/theorexrockstar/icon1.png" alt="">
                        </div>
                        <h2>Working as a Catalyst</h2>
                        <p>A TheoreX pilot is expected to be of help to the company in catalysing business communications between the company and various institutional bodies. </p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="/lib/images/theorexrockstar/icon2.png" alt="">
                        </div>
                        <h2>Meet initiator</h2>
                        <p>A TheoreX pilot takes up the primary initiative to organise an in-person interaction between institutes and TheoreX team</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <img src="/lib/images/theorexrockstar/icon3.png" alt="">
                        </div>
                        <h2>Event manager for TheoreX</h2>
                        <p>TheoreX pilot should report to the company, informing minute and vast possibilities for events in interest of TheoreX.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">

                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="/lib/images/theorexrockstar/icon4.png" alt="">
                        </div>
                        <h2>Social Media Influence</h2>
                        <p>An appointed TheoreX pilot is expected to be an active entity in social media, which should help the company to create public awareness about Theorex</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="/lib/images/theorexrockstar/icon5.png" alt="">
                        </div>
                        <h2>Offline Marketing Weapon</h2>
                        <p>Theorex requires the pilot to bear word of the mouth and be the most natural agent for marketing for the company. An impactful offline marketing strategy will be highly appreciated. </p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <img src="/lib/images/theorexrockstar/icon6.png" alt="">
                        </div>
                        <h2>Recruiting Campus Champs</h2>
                        <p>A pilot should appoint campus representatives for the various institutes it associates the company with. These campus champs act as information gatherers and mqrketing tributaries.</p>
                    </div>
                </div>
            </div>
        </div>


<div class="container">
            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">

                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="/lib/images/theorexrockstar/icon7.png" alt="">
                        </div>
                        <h2>Collaboration with Rockstar Moderator</h2>
                        <p>A TheoreX pilot is supposed to report to his/her respective moderator. Moderators will be TheoreX employees,who shall be majorly responsible to groom the pilots in their job associated with TheoreX along with providing insight to the pilots about their job, trade, interest and profession.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="/lib/images/theorexrockstar/icon8.png" alt="">
                        </div>
                        <h2>Submitting Monthly Reports</h2>
                        <p>A TheoreX pilot is expected to submit a monthly report to TheoreX through respective moderators. Transparency of reports and viability of analysis submitted by the pilots will reflect upon his/her performance recount which will be monitored by the company.</p>
                    </div>
                </div>
                <!--<div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <img src="/lib/images/theorexrockstar/icon9.png" alt="">
                        </div>
                        <h2>Behave Professionally</h2>
                        <p>Venison tongue, salami corned beef ball tip meatloaf bacon. Fatback pork belly bresaola tenderloin bone pork kevin shankle.</p>
                    </div>
                </div>-->
            </div>
        </div>



    </section>
    <!--/#services-->



        <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Pilots' Rewards & Opportunities</span></h1>
                            <p>TheoreX brings blah blah blah</p>
                        </div>
                     </div>
                </div>
            </div>
        </div>
   </section>
   
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">

                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="/lib/images/theorexrockstar/icon10.png" alt="">
                        </div>
                        <h2>Special Recognition Letter</h2>
                        <p>Every TheoreX pilot shall be granted a letter of recognition from the company. The LOR given to a pilot by the company remains as a memento and a reference document for further collaborations with the company.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="/lib/images/theorexrockstar/icon11.png" alt="">
                        </div>
                        <h2>Certification for Rockstars</h2>
                        <p>A theoreX pilot shall be duely certified on completion of his/her  project. Certificates issued by the company in interest of the TheoreX pilots can be used further as career enhancements.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <img src="/lib/images/theorexrockstar/icon12.png" alt="">
                        </div>
                        <h2>Obtaining Leadership Skills</h2>
                        <p>Group projects and events that the pilots have to facilitate expose them to leadership attributes through practical experience.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">

                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="/lib/images/theorexrockstar/icon13.png" alt="">
                        </div>
                        <h2>Internship Opportunities at TheoreX</h2>
                        <p>Based on the monthly and annual reports, pilots in TheoreX have an opportunity to get inducted as interns and work temporarily with the company. Internship in TheoreX allows students  to gain a clear idea of edu-tech along with first hand experience. Oh and ofcourse…..never forget the stipend!</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="/lib/images/theorexrockstar/icon14.png" alt="">
                        </div>
                        <h2>Building Up Portfolio</h2>
                        <p>A TheoreX pilot can be a student from any sector of the education arena. Independence in domain allows a pilot to gain diversity in his/her portfolio thus glorifying it with an experience in the nascent field of edutech.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <img src="/lib/images/theorexrockstar/icon18.png" alt="">
                        </div>
                        <h2>Professional Experience</h2>
                        <p>A TheoreX pilot, while in the ambience of the company shall be in a constant process of inculcation of professional vibes. A professional behavior is expected from the pilot in order to obtain efficient results. Professionalism imbibed into TheoreX pilots by the company should be of golden use to the candidate in future.</p>
                    </div>
                </div>
            </div>
        </div>


<div class="container">
            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">

                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="/lib/images/theorexrockstar/icon16.png" alt="">
                        </div>
                        <h2>Pilot of the Month Opportunity</h2>
                        <p>TheoreX pilot of the month award shall be awarded to one of the pilots every month based on a comparative analysis of their monthly performance data. The pilot of the month gets featured in our website for a month and other social media attached to us as well.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="/lib/images/theorexrockstar/icon17.png" alt="">
                        </div>
                        <h2>TheoreX Pilot Annual Gift Pack</h2>
                        <p>An annual consignment of goodies shall be rewarded to a TheoreX pilot annually based upon their annual performance.</p>
                    </div>
                </div>
            </div>
        </div>



    </section>
    <!--/#services-->

    <section id="action">
        <div class="vertical-center">
             <div class="container">
                <div class="row">
                    <div class="action count">
                        <div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <h1 class="timer bold" data-to="500" data-speed="3000" data-from="0"></h1>   
                            <h3>Colleges</h3>
                        </div>
                        <div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <h1 class="timer bold" data-to="100" data-speed="3000" data-from="0"></h1>   
                            <h3>Rockstars</h3> 
                        </div>
                        <div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <h1 class="timer bold" data-to="400" data-speed="3000" data-from="0"></h1> 
                            <h3>Major Events</h3>
                        </div>
                        <div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <h1 class="timer bold" data-to="200" data-speed="3000" data-from="0"></h1> 
                            <h3>Social Media Influence</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#action-->


 <section id="team">
        <div class="container">
            <div class="row">
                <h1 class="title text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms">Meet Our Rockstar Of the Month</h1>
                <p class="text-center wow fadeInDown" data-wow-duration="400ms" data-wow-delay="400ms">Little Description of his/her work</p>
                <center><br/><br/>
                    <div class="team-single">
                    <div class="person-thumb">
                        <img src="/lib/images/aboutus/1.jpg" class="img-responsive" alt="" height="400" width="400">
                    </div>
                    </div></center>
<br/><br/>
                <center><div class="person-info">
                                        <h2 style="color:#000;font-size:30px;">John Doe</h2>
                                        <h3 style="color:#000;font-size:20px;">West Bengal University of Technology</h3>
                                        <p>Kolkata, India</p>
                </div></center>
                        <div class="text-center">
                            <a href="index.html" class="btn btn-error">Visit his/her Dashboard</a>
                        </div>
            </div>
        </div>
    </section>
    

    <!--<section id="team">
        <div class="container">
            <div class="row">
                <h1 class="title text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms">Our Workshop Coordinator</h1>
                <p class="text-center wow fadeInDown" data-wow-duration="400ms" data-wow-delay="400ms">Workshops/Events can never be successful without this awesome team! Take a bow team.<br>
                Meet them, they are always ready to help you!</p>
                <div id="team-carousel" class="carousel slide wow fadeIn" data-ride="carousel" data-wow-duration="400ms" data-wow-delay="400ms">
                    
                    <ol class="carousel-indicators visible-xs">
                        <li data-target="#team-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#team-carousel" data-slide-to="1"></li>
                    </ol>
                
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-3 col-xs-6">
                                <div class="team-single-wrapper">
                                    <div class="team-single">
                                        <div class="person-thumb">
                                            <img src="/lib/images/aboutus/7.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="social-profile">
                                            <ul class="nav nav-pills">
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="person-info"><center>
                                        <h2>Bharti Lala</h2>
                                        <p>IOT Leader</p></center>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="team-single-wrapper">
                                    <div class="team-single">
                                        <div class="person-thumb">
                                            <img src="/lib/images/aboutus/3.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="social-profile">
                                            <ul class="nav nav-pills">
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="person-info"><center>
                                        <h2>Gaurab Patra</h2>
                                        <p>Chief Technical Officer</p></center>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="team-single-wrapper">
                                    <div class="team-single">
                                        <div class="person-thumb">
                                            <img src="/lib/images/aboutus/3.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="social-profile">
                                            <ul class="nav nav-pills">
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="person-info"><center>
                                        <h2>Sumantro Mukherjee</h2>
                                        <p>Workshop Coordinator</p></center>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="team-single-wrapper">
                                    <div class="team-single">
                                        <div class="person-thumb">
                                            <img src="/lib/images/aboutus/5.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="social-profile">
                                            <ul class="nav nav-pills">
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="person-info"><center>
                                        <h2>Subhasish Kundu</h2>
                                        <p>Lead Developer</p></center>
                                    </div>
                                </div>
                            </div>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#team-->

<section id="action" class="responsive">
        <div class="vertical-center">
             <div class="container">
                <div class="row">
                    <div class="action take-tour">
                        <div class="col-sm-7 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                            <h1 class="title">Hey There, Are you up for taking these responsibilites?</h1>
                        </div>
                        <div class="col-sm-5 text-center wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                            <div class="tour-button">
                                <a href="#form1" class="btn btn-common">Apply Now</a>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


<section id="form1">
      <center><h1>Apply to Become a TheoreX Rockstar</h1></center>

<form ng-submit="pilot_apply()" name="pilotForm">
        
    <div class="contentform">
        <div id="sendmessage"> Your message has been sent successfully. Thank you. </div>


        <div class="leftcontact">
            <div class="form-group">
            <p>First Name <span>*</span></p>
            <span class="icon-case"><i class="fa fa-user"></i></span>
                <input type="text" name="firstname" id="firstname" placeholder="Your First Name" ng-model="vm.pilotdata.firstname" class="form-control" required="required"/>
		<div class="col-xs-5 messageContainer" ng-show="pilotForm.firstname.$invalid && pilotForm.firstname.$dirty">This field is required</div>
            </div>
                  <div class="form-group">
                    <p>Surname<span>*</span></p>
                    <span class="icon-case"><i class="fa fa-male"></i></span>
                        <input type="text" name="lastname" id="lastname" placeholder="Your Last Name" data-rule="required" data-msg="" ng-model="vm.pilotdata.lastname"  class="form-control" required="required"/>
		<div class="col-xs-5 messageContainer" ng-show="pilotForm.lastname.$invalid && pilotForm.lastname.$dirty">This field is required</div>
       </div>

            <div class="form-group">
            <p>E-mail <span>*</span></p>    
            <span class="icon-case"><i class="fa fa-envelope-o"></i></span>
                <input type="email" name="email" id="email" placeholder="Your E-Mail Id" data-rule="email" data-msg="" ng-model="vm.pilotdata.email" ng-model="vm.pilotdata.email" class="form-control" required="required"/>
		<div class="col-xs-5 messageContainer" ng-show="pilotForm.email.$invalid && pilotForm.email.$dirty">This field is required</div>
            </div>  

            <div class="form-group">
            <p>Company/Organization/University<span>*</span></p>
            <span class="icon-case"><i class="fa fa-home"></i></span>
                <input type="text" name="organization" id="organization" placeholder="Your Organization Name" data-rule="required" data-msg="" ng-model="vm.pilotdata.organization"  class="form-control" required="required"/>
		<div class="col-xs-5 messageContainer" ng-show="pilotForm.organization.$invalid && pilotForm.organization.$dirty">This field is required</div>
            </div>

            <div class="form-group">
            <p>Company/Organization/University Address<span>*</span></p>
            <span class="icon-case"><i class="fa fa-location-arrow"></i></span>
                <input type="text" name="organizationAddress" id="organizationAddress" placeholder="Your Organization Address" data-rule="required" data-msg="" ng-model="vm.pilotdata.organizationAddress"  class="form-control" required="required"/>
		<div class="col-xs-5 messageContainer" ng-show="pilotForm.organizationAddress.$invalid && pilotForm.organizationAddress.$dirty">This field is required</div>
            </div>

            <div class="form-group">
            <p>Postal Code <span>*</span></p>
            <span class="icon-case"><i class="fa fa-map-marker"></i></span>
                <input type="text" name="organizationPostalCode" id="organizationPostalCode" placeholder="Your Organization Postal Code" data-rule="required" data-msg="" ng-model="vm.pilotdata.organizationPostalCode"  class="form-control" required="required"/>
		<div class="col-xs-5 messageContainer" ng-show="pilotForm.organizationPostalCode.$invalid && pilotForm.organizationPostalCode.$dirty">This field is required</div>
            </div> 
            <div class="form-group">
            <p>Your City <span>*</span></p>
            <span class="icon-case"><i class="fa fa-building-o"></i></span>
                <input type="text" name="organizationCity" id="organizationCity" placeholder="Your Organization City" data-rule="required" data-msg="" ng-model="vm.pilotdata.organizationCity"  class="form-control" required="required"/>
		<div class="col-xs-5 messageContainer" ng-show="pilotForm.organizationCity.$invalid && pilotForm.organizationCity.$dirty">This field is required</div>
            </div>  

            <div class="form-group">
            <p>Phone number <span>*</span></p>  
            <span class="icon-case"><i class="fa fa-phone"></i></span>
                <input type="number" name="phone" id="phone" placeholder="Your Phone Number" ng-maxlength="10" data-msg="" ng-model="vm.pilotdata.phone"  class="form-control" required="required"/>
		<div class="col-xs-5 messageContainer" ng-show="pilotForm.phone.$invalid && pilotForm.phone.$dirty">This field is invalid</div>
            </div>
    </div>

    <div class="rightcontact">  

            

            <div class="form-group">
            <p>Have you ever work as a Representative in past? [Max 200 words] <span>*</span></p>   
            <span class="icon-case"><i class="fa fa-comment-o"></i></span>
                <textarea type="text" name="experience" id="experience" placeholder="Tell us in few words if you have any experience regarding any representative program in past!" ng-model="vm.pilotdata.experience"  class="form-control" required="required"></textarea>
		<div class="col-xs-5 messageContainer" ng-show="pilotForm.experience.$invalid && pilotForm.experience.$dirty">This field is required</div>

            </div>
        
            <div class="form-group">
            <p>Some points that will describe your leadership skill! [Max 200 words] <span>*</span></p>
            <span class="icon-case"><i class="fa fa-comments-o"></i></span>
                <textarea name="leadership" rows="14" placeholder="Tell us about your leadership skill so that we can have a clear idea about your capibility." data-msg="Please fill in this entry to complete the submission procedure." ng-model="vm.pilotdata.leadership"  class="form-control" required="required"></textarea>
		<div class="col-xs-5 messageContainer" ng-show="pilotForm.leadership.$invalid && pilotForm.leadership.$dirty">This field is required</div>

            </div> 

            <div class="form-group">
            <p>Why do you want to be a TheoreX Rockstar? [Max 200 words]<span>*</span></p>   
            <span class="icon-case"><i class="fa fa-comment-o"></i></span>
                <textarea name="joiningReason" rows="14" placeholder="Tell us something that why you chose to be TheoreX Rockstar" data-msg="Please fill in this entry to complete the submission procedure." ng-model="vm.pilotdata.joiningReason"  class="form-control" required="required"></textarea>
		<div class="col-xs-5 messageContainer" ng-show="pilotForm.joiningReason.$invalid && pilotForm.joiningReason.$dirty">This field is required</div>
            </div>
        
            <div class="form-group">
            <p>Some links of your work as an Representative so far!<span>*</span></p>
            <span class="icon-case"><i class="fa fa-comments-o"></i></span>
                <textarea name="links" rows="14" placeholder="If you have anything to show us about your leadership skill or any other program you are with! We'd love to to hear from you." data-msg="Please fill in this entry to complete the submission procedure." ng-model="vm.pilotdata.links"  class="form-control" required="required"></textarea>
		<div class="col-xs-5 messageContainer" ng-show="pilotForm.links.$invalid && pilotForm.links.$dirty">This field is required</div>
            </div> 
    </div>
    </div><br/>


<button type="submit" class="bouton-contact">Apply Today!</button> 
        			<div class="alert alert-danger fade in" style="display:none;"  id="pilot_error_div">
				  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				  Already Registered
				</div>   
				<div class="alert alert-success fade in" style="display:none;" id="pilot_success_div">
				  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				  Thanks For Registering Pilot!
				</div>   
</form>
</section>

<br/>

<footer></footer>
<style type="text/css">
  input.ng-invalid.ng-dirty {
    border-color: red;
  }
  input.ng-valid.ng-dirty {
    border-color: green;
  }
.messageContainer {
	color:red;
}
</style

