<navigation></navigation>

<div class="container">
  <div class="row">
    
     <div class="col-md-6">

      <h1 class="form-signin-heading">Your profile</h1>
  <a href="{{jsondata.publicProfileUrl}}">{{jsondata.firstName}} {{jsondata.lastName}}</a>
	<div ng-show="isVerified">Email Is Verified</div>
  <form ng-submit="getCommitData()">
    <input type="submit" value="Get Data">
  </form>
<script type="in/Login"></script>
      <form  class="form-horizontal" name="profile_name_form" ng-submit="profileNameUpdate()">
       <div class="form-group">
          <label class="col-sm-3 control-label">Full Name</label>
          <input type="text" name="user.name" ng-model="vm.user.name" class="form-control-static" >
        </div>
	    <input type="submit" value="Save Data">
      </form>
       <div class="form-group">
          <label class="col-sm-3 control-label">Email</label>
          <p class="form-control-static" >{{ vm.user.email }}</p>
        </div>
       <div class="form-group">
          <label class="col-sm-3 control-label">Local ID</label>
          <input type="text" name="user._id" ng-model="vm.user._id" class="form-control-static" >
        </div>
      <form  class="form-horizontal" name="profile_headline_form" ng-submit="profileHeadlineUpdate()">
        <div class="form-group">
          <label class="col-sm-3 control-label">Headline</label>
          <input type="text" name="headline" ng-model="jsondata.headline" class="form-control-static" >
        </div>
	    <input type="submit" value="Save Data">
      </form>
      <form  class="form-horizontal" name="profile_location_form" ng-submit="profileLocationUpdate()">
        <div class="form-group">
          <label class="col-sm-3 control-label">Location</label>
          <input type="text" name="location.name" ng-model="jsondata.location.name" class="form-control-static" >
        </div>
	    <input type="submit" value="Save Data">
      </form>
      <form  class="form-horizontal" name="profile_country_form" ng-submit="profileCountryUpdate()">
        <div class="form-group">
          <label class="col-sm-3 control-label">Country</label>
          <input type="text" name="location.code" ng-model="jsondata.location.code" class="form-control-static" >
        </div>

	    <input type="submit" value="Save Data">
      </form>
      <form  class="form-horizontal" name="experience_form" ng-submit="profileExperienceUpdate()">
          <label class="col-sm-3 control-label">Experience  </label><br>
        <div class="form-group" ng-repeat="value in jsondata.positions.values">
	 <input type="hidden" name="id" ng-model="value.id" ng-init="value.id = $index" class="form-control-static" >
         <div class="form-group">
          <label class="col-sm-3 control-label">Company</label>
          <input type="text" name="company.name" ng-model="value.company.name" class="form-control-static" >
	 </div>
         <div class="form-group">
          <label class="col-sm-3 control-label">Title</label>
          <input type="text" name="company.title" ng-model="value.title" class="form-control-static" >
	 </div>
	<button class="remove" ng-show="$last" ng-click="removeExperience()">-</button>
        </div>
	<input type="button" class="addfields" ng-click="addNewExperience()" value="Add Experience">
	    <input type="submit" value="Save Data">
      </form>
      <form  class="form-horizontal" name="education_form" ng-submit="profileEducationUpdate()">
        <div class="form-group">
          <label class="col-sm-3 control-label">Education</label>
		<div class="form-group">
		  <label class="col-sm-3 control-label">School</label>
          	<input type="text" name="education.school" ng-model="jsondata.location.code" class="form-control-static" >
		</div>
		<div class="form-group">
		  <label class="col-sm-3 control-label">Degree</label>
          	<input type="text" name="education.degree" ng-model="jsondata.location.code" class="form-control-static" >
		</div>
		<div class="form-group">
		  <label class="col-sm-3 control-label">From</label>
          	<input type="text" name="education.from" ng-model="jsondata.location.code" class="form-control-static" >
		</div>
		<div class="form-group">
		  <label class="col-sm-3 control-label">To</label>
          	<input type="text" name="education.to" ng-model="jsondata.location.code" class="form-control-static" >
		</div>
		<div class="form-group">
		  <label class="col-sm-3 control-label">Grade</label>
          	<input type="text" name="education.grade" ng-model="jsondata.location.code" class="form-control-static" >
		</div>
        </div>
	    <input type="submit" value="Save Data">
      </form>
      <form  class="form-horizontal" name="skill_form" ng-submit="profileEducationUpdate()">
		<label class="col-sm-3 control-label">Skills</label>
		<div class="form-group">
          	<input type="text" name="skill" ng-model="jsondata.location.code" class="form-control-static" >
  		<button type="submit" >Add</button>
		</div>
      </form>
<form name="imgForm">
  Single Image with validations
      <input type="file" ngf-select ng-model="picFile" name="file"    
             accept="image/*" ngf-max-size="2MB" required
             ngf-model-invalid="errorFile">
	<img ng-show="imgForm.file.$valid" ngf-thumbnail="picFile" class="thumb">
      <button type="button" ng-disabled="!imgForm.$valid" 
              ng-click="uploadPic(picFile)">Submit</button>
</form>


    </div>

  </div>
</div>

<footer></footer>

<style>
.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}
</style>
