<navigation></navigation>

    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">{{ vm.course_json.title }}</h1>
                            <p>{{ vm.course_json.about }}</p>
                        </div>                                                                                
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#page-breadcrumb-->

    <section id="blog-details" class="padding-top">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-7">
                    <div class="row">
                         <div class="col-md-12 col-sm-12">
                            <div class="single-blog blog-details two-column">
                                <div class="post-thumb">
                                    <a href="#"><img src="/lib/images/courses/{{ vm.course_json.cover.high_res }}" class="img-responsive" alt=""></a>
                                    <div class="post-overlay">
                                        <span class="uppercase"><a href="#"><!--14--><br><small>Coming Soon</small></a></span>
                                    </div>
                                </div>
                                <div class="post-content overflow">
                                    <!--<h2 class="post-title bold"><a href="#">Advanced business cards design</a></h2>
                                    <h3 class="post-author"><a href="#">Posted by micron News</a></h3>-->
                                    <p>{{ vm.course_json.description }}</p>
                                    <div class="post-bottom overflow">
                                        <ul class="nav navbar-nav post-nav">
                                            <li><a href="#"><i class="fa fa-tag"></i>{{ vm.course_json.tags }}</a></li>
                                            <li><a href="#"><i class="fa fa-heart"></i>{{ vm.course_json.wishlisted }} Wishlist</a></li>
                                            <li><a href="#"><i class="fa fa-comments"></i>3 Comments</a></li>
                                        </ul>
                                    </div>
                                    <div class="blog-share">
                                        <span class='st_facebook_hcount'></span>
                                        <span class='st_twitter_hcount'></span>
                                        <span class='st_linkedin_hcount'></span>
                                        <span class='st_pinterest_hcount'></span>
                                        <span class='st_email_hcount'></span>
                                    </div>
                                    <!--<div class="author-profile padding">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <img src="/lib/images/blogdetails/1.png" alt="">
                                            </div>
                                            <div class="col-sm-10">
                                                <h3>Rodrix Hasel</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliq Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p>
                                                <span>Website:<a href="www.jooomshaper.com"> www.jooomshaper.com</a></span>
                                            </div>
                                        </div>
                                    </div>-->
                                    <!--<div class="response-area">
                                    <h2 class="bold">Comments</h2>
                                    <ul class="media-list"> 
                                    </ul>                   
                                </div>--><!--/Response-area-->
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
                <div class="col-md-3 col-sm-5">
                    <div class="sidebar blog-sidebar">

                        <div class="sidebar-item ">
                                <button type="button" class="btn btn-info btn-block" ng-hide="vm.isUserLoggedIn()">SIGN UP</button>
                                <button type="button" class="btn btn-info btn-block" ng-click="vm.toggleWishlist()" ng-show="vm.isUserLoggedIn() && !vm.showWishlistedVar"><i class="fa fa-heart-o" style="font-size:24px;color:red;"></i> WISHLIST</button>

                                <button type="button" class="btn btn-info btn-block" ng-click="vm.toggleWishlist()" ng-show="vm.isUserLoggedIn() && vm.showWishlistedVar"><i class="fa fa-heart" style="font-size:24px;color:red;"></i> WISHLISTED</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#blog-->


